%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home-content {
  height: auto;
}

.paper {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin: 1rem;
  .MuiPaper-rounded {
    width: 80%;
    min-width: 620px;
  }
}

.flex-container {
  @extend %flex-center;
  margin: 30px 0px 30px 0px;
  width: max-content;
  height: auto;
  min-height: 5em;
  overflow: auto;

  p {
    margin: 0.5em;
    display: inline-block;
  }
  img {
    margin: 0.5em;
    display: inline-block;
    height: auto;
    width: 4em;
  }
}

.test-icon {
  @extend %flex-center;

  .MuiSvgIcon-root {
    @extend %flex-center;
    position: relative;
    top: -20px;
    right: 40px;
    z-index: 1;
    background-color: black;
    border-radius: 50%;
  }
}
