.SimpleDrawer {
  height: 56px;
  width: 64px;
  @media (max-width: 600px) {
    width: 54px;
  }
  .MuiPaper-elevation0 {
    > button.MuiButtonBase-root.MuiIconButton-root {
      min-height: 56px;
      min-width: 56px;

      @media (min-width: 600px) {
        min-height: 64px;
        min-width: 64px;
      }
      @media (max-width: 600px) {
        width: 54px;
      }
    }
  }

  .MuiPaper-elevation0 button {
    margin-left: auto;
  }

  &.isOpen {
    width: 240px;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    white-space: nowrap;
    > div {
      width: 240px;
    }
  }
  > div {
    overflow-x: hidden;
    transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    width: 64px;
    @media (max-width: 600px) {
      width: 54px;
    }
  }
  ul.MuiList-root {
    height: 100%;
  }
}
