.App {
  display: flex;
  height: 100vh;
  .main-content {
    width: 100%;
    > div {
      height: 64px;
    }
    .main-container {
      display: flex;
      height: calc(100vh - 64px);
      overflow: auto;
      background-color: #eeeeee;
      color: #3d3d3d;
      width: 100%;
    }
    .appbar-space {
      overflow: auto;
      height: 64px;
      background-color: #eeeeee;
    }
  }
}
